################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cn.DiariumSystem.Ultimate/.vs/cn.DiariumSystem.Ultimate
/cn.DiariumSystem.Ultimate/cn.DiariumSystem.SelfStart/obj
/cn.DiariumSystem.Ultimate/cn.DiariumSystem.SelfStart/bin/Debug
